@model BiuroPodrozy.Data.Language

@{
    ViewData["Title"] = "Edit";
}

<div class="card mt-3">
    <div class="card-body">
        <form asp-action="Edit">
            <div class="card-title d-flex flex-row justify-content-between">
                <h5 class="text-center m-0 align-content-center">Edytuj wybrany język</h5>
                <div>
                    <a asp-action="Index" class="btn btn-outline-dark-blue">Wróć</a>
                    <input type="submit" asp-action="Edit" asp-route-id=@Model.IdLanguage value="Edytuj" class="btn btn-dark-blue" />
                </div>
            </div>
            <div class="card-text">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <input asp-for="IdLanguage" class="visually-hidden" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row mt-2">
                            <div class="col-md-3 pt-2">
                                <label asp-for="LanguageName" class="control-label"></label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="LanguageName" class="form-control" />
                                <span asp-validation-for="LanguageName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <div class="col-md-3 pt-2">
                                <label asp-for="AbbrLanguageName" class="control-label"></label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="AbbrLanguageName" class="form-control" />
                                <span asp-validation-for="AbbrLanguageName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
