<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button px-0" type="button" data-bs-toggle="collapse" data-bs-target="#filter-accordion-1" aria-expanded="true" aria-controls="filter-accordion-1">
			<div class="text-start fw-bolder fs-5">Rodzaj wycieczki</div>
		</button>
	</h2>
	<div class="accordion-collapse collapse show" id="filter-accordion-1">
		<div class="accordion-body px-0">
			<ul class="list-group list-group-flush fs-5">
				<li class="list-group-item">
					<input class="form-check-input me-1" type="radio" name="TripType" value="objazd" aria-label="..." onclick="filter(this)">
					<label class="form-check-label" for="objazd">Objazd</label>
				</li>
				<li class="list-group-item">
					<input class="form-check-input me-1" type="radio" name="TripType" value="wypoczynek" aria-label="..." onclick="filter(this)">
					<label class="form-check-label" for="wypoczynek">Wypoczynek</label>
				</li>
			</ul>
		</div>
	</div>
</div>
<hr/>