@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	@await Component.InvokeAsync("CardQuickSearchComponent")
 	@await Component.InvokeAsync("RecommendedBarComponent")
	@await Component.InvokeAsync("RecommendedCountriesComponent")

	<div id="blog-bar">
		<div class="container-fluid w-90">
			<div class="row pt-5 pb-5">
				<div class="col-12 display-6 text-start">Blog podróżny</div>
			</div>
			<div class="row pb-5">
				<div class="col-md-4 col-6">
					<div class="card" id="blogCard">
						<a href="#" class="stretched-link"></a>
						<img src="~/Assets/Images/Photos/exampleBlog1.png" class="card-img-top img-fluid" alt="...">
						<div class="card-img-overlay d-flex flex-column align-content-end justify-content-end p-0">
							<div class="card p-0 m-0" id="blogCard">                                
								<img src="~/Assets/Images/Photos/overlayBlog.png" class="card-img-bottom img-fluid" alt="...">
								<div class="card-img-overlay"> 
									<h5 class="card-title fw-bolder">Lorem ipsum 17.05.2024</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-6">
					<div class="card" id="blogCard">
						<a href="#" class="stretched-link"></a>
						<img src="~/Assets/Images/Photos/exampleBlog1.png" class="card-img-top img-fluid" alt="...">
						<div class="card-img-overlay d-flex flex-column align-content-end justify-content-end p-0">
							<div class="card p-0 m-0" id="blogCard">                                
								<img src="~/Assets/Images/Photos/overlayBlog.png" class="card-img-bottom img-fluid" alt="...">
								<div class="card-img-overlay"> 
									<h5 class="card-title fw-bolder">Lorem ipsum 18.05.2024</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-none d-md-block">
					<div class="card" id="blogCard">
						<a href="#" class="stretched-link"></a>
						<img src="~/Assets/Images/Photos/exampleBlog1.png" class="card-img-top img-fluid" alt="...">
						<div class="card-img-overlay d-flex flex-column align-content-end justify-content-end p-0">
							<div class="card p-0 m-0" id="blogCard">                                
								<img src="~/Assets/Images/Photos/overlayBlog.png" class="card-img-bottom img-fluid" alt="...">
								<div class="card-img-overlay"> 
									<h5 class="card-title fw-bolder">Lorem ipsum 19.05.2024</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


</div>