@using BiuroPodrozy.Intranet.ModelsForView
@model dynamic

<div class="card mt-3">
    <div class="card-body">
        <div class="card-title d-flex flex-row justify-content-between">
            <h5 class="text-center m-0 align-content-center">Lista @Model.ModelNameTranslatedList</h5>
            <a asp-action="Create" class="btn btn-dark-blue">Dodaj nowy @Model.ModelNameTranslatedAdd</a>
        </div>
        <div class="card-text table-responsive">
            @{
                switch (Model.ModelName)
                {
                    case "Language":
                        @await Html.PartialAsync("_IndexTableLanguages", (IndexTableViewModel<BiuroPodrozy.Data.Language>)Model)
                        ;
                        break;
                    case "Currency":
                        @await Html.PartialAsync("_IndexTableCurrencies", (IndexTableViewModel<BiuroPodrozy.Data.Currency>)Model)
                        ;
                        break;


                    case "CityDTO":
                        @await Html.PartialAsync("_IndexTableCities", (IndexTableViewModel<BiuroPodrozy.Data.CityDTO>)Model)
                        ;
                        break;
                    case "CountryDTO":
                        @await Html.PartialAsync("_IndexTableCountries", (IndexTableViewModel<BiuroPodrozy.Data.CountryDTO>)Model)
                        ;
                        break;
                    case "HotelDTO":
                        @await Html.PartialAsync("_IndexTableHotels", (IndexTableViewModel<BiuroPodrozy.Data.HotelDTO>)Model)
                        ;
                        break;
                    case "TripDTO":
                        @await Html.PartialAsync("_IndexTableTrips", (IndexTableViewModel<BiuroPodrozy.Data.TripDTO>)Model)
                        ;
                        break;

                    case "Page":
                        @await Html.PartialAsync("_IndexTablePages", (IndexTableViewModel<BiuroPodrozy.Data.Page>)Model)
                        ;
                        break;
                    default:
                        break;
                };
            }
        </div>
    </div>
</div>